body{
	background: #D3D3D3;
}
.cls_lists_wrapper .cls_lists_header{
	width: 100%;
	height: 96px;
	padding: 14px 18px 16px 8px;	
}
.cls_toto_list {
	min-height: 300px;
}
.cls_list_header {
	background: #808080;
	height: 80px;
	display: flex;
  	align-items: center;
  	padding: 23px;
}
.cls_list_header_title{
	color: white;
	font-size:17px;
	font-weight: bold;
}
.cls_list_header_info{
	width: 72px;
	height: 41px;
	margin-left: auto;
	background: white;
  	text-align: center;	
  	font-size: 12px;
    padding-top: 7px;
    line-height: 14px;  	
}
.cls_list_header_info .cls_project_count{
	color: black;
	font-weight: bold;
}
.cls_list_header_info .cls_project_name{
	color: #808080;
	font-size: 11px;
}
.cls_item_todo {
	background: #ffffff;
	height: 67px;
	margin-bottom: 2px;
	cursor: move;
	display: flex;
  	align-items: center;
  	padding-left: 23px;
}
.cls_label_create_todo{
	margin-right: 10px;
}
